.hotelsArea{
    background-color: rgb(192, 177, 158);
   padding-bottom: 20px;
}
.hotelsArea form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
  
}
.hotelsArea form input {
    padding-top: 10px;
    margin-top: 5px;
}
.hotelsArea form  textarea{
    padding-top: 10px;
    margin-top: 5px;
}
.adminHan{
    background-color: rgb(207, 212, 210);

}
.adminHan form {
    width: 50%;
    margin: auto;
  
}
.adminHan form input {
    width: 100%;
   padding: 10px 10px;
  
}
.texts{
    font-weight: bolder;
}
.adminHan form label {
   font-size: large;
   font-weight: bolder;
  
   
  
}

@media screen and (max-width: 480px) {
    .hotelsArea form{
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
      
    }
  }

@media screen and (max-width: 480px) {
    .adminHan form {
        width: 80%;
        margin: auto;
      
    }
  }